@model BaiTap_Buoi3.Models.Book

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buy</h2>

<p style="font-size:24px"> Chúc mừng bạn vì đã rất may khi mua được cuốn sách <strong>@Model.Title</strong> trị giá <strong>@Model.Price</strong> VNĐ</p>